.btn {
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.7);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0.3em 1em;
  position: absolute;
  bottom: 50vh;
  right: 1em;
  cursor: pointer;
}

.btn:hover{
  background: rgba(255, 255, 255, 0.9);
}